body {
	background-image: url("moonscape.png");
	background-size: 100% 100%;
	display: block;
	height: 100vh;
	width: 100vw;
}
//the following color ids listed below are giving a size to each div and position(flex or block).
//some color divs have the opacity because I wanted it to be a little transparent so the main focus could be the lunar landscape.

.purple {
	height: 70%;
	width: 100%;
}

.blue {
	opacity: 0.50;
	height: 30%;
	width: 100%;
	display: flex;
}

.pink {
	height: 25%;
	width: 100%;
	display: flex;
}

.orange {
	position: relative;
	opacity: 100;
	width: 50%;
	height:100%;
	display: block;
}

.brown {
	cursor: pointer;
	height: 100%;
	width: calc(50%/3);
}
//I used the progress bar id name and added a color so it shows how it is keeping track of the time. 
.progressBar {
	background-color: #6094a3;
}

.restrict-img-size1 {
	animation: mymove 4s infinite;
	position: relative;
}

//this was the css for the progress bar that moved to the right from the left as it calculated the time.
//This two pieces of code indicated the position and movement distance(calcuated in pixels). 
@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 100px;}
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 100px;}
}

//I changed the cursor as telling the user that they should click on something. I addded it to the div itself. 
.black {
	cursor: pointer;
	width: calc(100%/6);
	height: 100%;
	background-color: #4B484F;
}

//this is how the images are centered and they are all the same size(photoshop too).
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.restrict-img-size {
	max-height: 75%;
	max-width: 75%;
}

.location {
	visibility: hidden;
}

